.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Preset {
    display: block;
    margin: .5em 1em;
    font-size: 2em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

textarea {
    display: block;
    width: 80%;
    float: none;
    margin: 0 auto;
    resize: vertical;
}

table {
    width: 80%;
    font-size: 2em;
}

h2 {
    font-size: 2.7em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
}
